<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://iconica.netlify.app/Components.css">
    <link rel="stylesheet" href="/Components/Login and Signup/Login and Signup.css">

    <title>Document</title>
</head>
<body>
    <div class="navigation">
        <div class="navigation_Title"> Iconica Store</div>
        <div class="searchbar"><input type="text" placeholder="Search"></div>
        <div class="navigation_Interaction">
            <a class="navigation__login" href="/Components/Login and Signup/Login.html">Login</a>
            <a href="/Components/Wishlist/Wishlist.html"><i class="far fa-heart"></i></a>
            <a href="/Components/Cart/Cart.html"><i class="fas fa-shopping-cart"></i></a>
            
        </div>
    </div>

    <div class="auth__container">
        <div class="auth__container__title">
            Login
        </div>
        <div class="auth__container__input">
            <div class="Input__Field">
                <Label>Email Address*</Label>
                <Input class="Input__Field--Text" placeholder="Enter Email">
            </div>

            <div class="Input__Field">
                <Label>Password*</Label>
                <Input class="Input__Field--Text" placeholder="************">
            </div>
            <a href="" class="btn btn--Primary cta__btn">Login </a>
           <span class="pageChangeLink">Dont have a account <a href="/Components/Login and Signup/Signup.html" >Signup</a></span> 
        </div>
    </div>
</body>
</html>