<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://iconica.netlify.app/Components.css">
    <link rel="stylesheet" href="/Components/Login and Signup/Login and Signup.css">
    <link rel="stylesheet" href="/Styles.css">

    <title>Login</title>
</head>
<body>
    <div class="navigation">
        <div class="navigation_Title"> GameBiz</div>
        <div class="searchbar"><input type="text" placeholder="Search"></div>
        <div class="navigation_Interaction">
            <a class="navigation__login" href="/Components/Login and Signup/Login.html">Login</a>
            <a href="/Components/Wishlist/Wishlist.html"><i class="far fa-heart"></i></a>
            <a href="/Components/Cart/Cart.html"><i class="fas fa-shopping-cart"></i></a>
            
        </div>
    </div>

    <div class="auth__container">
        <div class="auth__container__title">
            Logout
        </div>
        <div class="auth__container__subtitle">
            Do you really want to Logout?
        </div>
        <div class="cta__container">
            <a href="" class="btn btn--Success">No </a>
            <a href="" class="btn btn--Error-Outlined">Yes </a>
        </div>
    </div>
</body>
</html>